<!-- Header banner -->
<app-header [fullNameUser]="fullNameUser" (setLangage)="switchLanguage($event)"></app-header>

<p *ngIf="isAdministrator">
  <app-administrator-side [studentsInput]="students"></app-administrator-side>
</p>

<p *ngIf="!isAdministrator">
  <app-student-profile-page [selectedStudent]="selectedStudent" 
                [coursesOfSelectedStudent]="coursesOfSelectedStudent" 
                [contactsOfSelectedStudent]="contactsOfSelectedStudent" 
                [dailyTopicsOfSelectedStudent]="dailyTopicsOfSelectedStudent"></app-student-profile-page>
</p>