mat-card {
    width: 95%;
    margin: auto auto;
    padding: 1%;
}

mat-expansion-panel {
    display: flow-root;
}

.student-summary {
    display: contents;
}

.account-icon {
    float: left;
    height: 9.938rem;
    width: 9.938rem;
    font-size: 9.938rem;
}

.student-identity {
    float: right;
    margin-left: 1.5rem;
}

.student-connection {
    margin: auto auto;
    text-align: center;
}

.student-university {
    float: right;
}

.student-university button {
    width: 100%;
}

.university {
    color: red;
}

.contact {
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: underline;
}

.header {
    background-color: rgb(221, 221, 221);
}

.course-column, .contact-column {
    width: 20%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.course-column--big {
    width: 30%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.delete-column {
    width: 10%;
    text-align: center;
}

.course-row {
    cursor: pointer !important;
}

.dailyTopic-column {
    width: 25%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-element-button {
    float: right;
    margin: 1rem 1rem 1rem 0;
}

.trash-icon {
    color: red;
}

mat-panel-description button {
    margin-left: auto;
    margin-right: 3%;
}

mat-card-header button {
    margin-bottom: .625rem;
}

.redColor {
    color: red;
}

.greenColor {
    color: green;
}

.orangeColor {
    color: orange;
}

.courses-footer {
    display: flex
}

.courses-footer button {
    margin-left: auto;
}

.return-to-student-list {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-red {
    box-shadow: 0 0 1px 3px red inset !important;
}

.table-green {
    box-shadow: 0 0 1px 3px green inset !important;
}

.table-orange {
    box-shadow: 0 0 1px 3px orange inset !important;
}

.rejected-course-cell {
    background-color: #ff171721;
}
