<p>
  administrator-side works!
</p>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Signal Column -->
    <ng-container matColumnDef="Signal">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let student">
        <mat-icon *ngIf="student.getDailyTopics().length > 0">notification_important</mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let student"> {{student.getFirstName()}} {{student.getLastName()}} </td>
    </ng-container>

    <!-- University Column -->
    <ng-container matColumnDef="University">
      <th mat-header-cell *matHeaderCellDef> University </th>
      <td mat-cell *matCellDef="let student"> {{student.getUniversity()}} </td>
    </ng-container>

    <!-- Last connexion Column -->
    <ng-container matColumnDef="Last connection">
      <th mat-header-cell *matHeaderCellDef> Last connection </th>
      <td mat-cell *matCellDef="let student"> {{student.getLastConnection()}} </td>
    </ng-container>

    <!-- Entrant/Leaving Column -->
    <ng-container matColumnDef="Entrant/Leaving">
      <th mat-header-cell *matHeaderCellDef> Entrant / Leaving </th>
      <td mat-cell *matCellDef="let student">
        <p *ngIf="student.getIsEntrant() == true"> E </p>
        <p *ngIf="student.getIsEntrant() == false"> L </p>
      </td>
    </ng-container>

    <!-- OpenInNew Column -->
    <ng-container matColumnDef="OpenInNew">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let student">
        <button mat-icon-button>
          <mat-icon>open_in_new</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="bottomButtons">
  <button id="archiveStudentButton" mat-stroked-button color="primary" (click)="archiveStudents()">Archive</button>
  <button *ngIf="!areDisplayArchived" mat-stroked-button color="primary" (click)="displayArchivedStudents()">Display
    archived students</button>
  <button *ngIf="areDisplayArchived" mat-stroked-button color="primary" (click)="displayArchivedStudents()">Display non
    archived students</button>
  <button id="addStudentButton" mat-raised-button color="primary" (click)="addStudent()">Add student</button>
</div>