<div class="pageBody">
  <h1>Login Page</h1>

  <!-- Form Login -->
  <form class="login-form">
    <!-- Field Username -->
    <div class="username-field">
      <mat-icon>account_box</mat-icon>
      <mat-form-field>
        <input matInput type="text" placeholder="Enter your username">
      </mat-form-field>
    </div>
    <!-- Field Password -->
    <div class="password-field">
      <mat-icon>account_circle</mat-icon>
      <mat-form-field>
        <input matInput type="password" placeholder="Enter your password">
      </mat-form-field>
    </div>
    <!-- Button Connection -->
    <button mat-raised-button color="primary" class="connection-button" (click)="navigateTo('home')">Connection !</button>
  </form>

  <!-- Button Navigation -->
  <button mat-stroked-button color="primary" (click)="navigateTo('home')">Go to home page</button>
</div>