<app-header></app-header>

<div class="pageBody">

  <!-- Form Login -->
  <form class="login-form">
    <!-- Field Username -->
    <div class="username-field">
      <mat-icon>account_box</mat-icon>
      <mat-form-field>
        <input matInput type="text" placeholder="Enter your username" [(ngModel)]="login" name="loginField">
      </mat-form-field>
    </div>
    <!-- Field Password -->
    <div class="password-field">
      <mat-icon>account_circle</mat-icon>
      <mat-form-field>
        <input matInput type="password" placeholder="Enter your password" [(ngModel)]="passWord" name="passWordField">
      </mat-form-field>
    </div>
    <!-- Button Connection -->
    <button mat-raised-button color="primary" class="connection-button" (click)="connexion()">Connection !</button>
    <div *ngIf="hasLoginFailed" class="login-error-message">Wrong logs...</div>
  </form>

</div>