<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Signal Column -->
    <ng-container matColumnDef="Signal">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let student">
        <mat-icon *ngIf="student.getHasNewDAilyTopics() === 'true'">notification_important</mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>
        <div translate> NameAdminSide </div>
      </th>
      <td mat-cell *matCellDef="let student"> {{student.getFirstName()}} {{student.getLastName()}} </td>
    </ng-container>

    <!-- University Column -->
    <ng-container matColumnDef="University">
      <th mat-header-cell *matHeaderCellDef translate> UniversityAdminSide </th>
      <td mat-cell *matCellDef="let student"> {{student.getUniversity()}} </td>
    </ng-container>

    <!-- Last connexion Column -->
    <ng-container matColumnDef="Last connection">
      <th mat-header-cell *matHeaderCellDef translate> LastConnectionAdminSide </th>
      <td mat-cell *matCellDef="let student"> {{student.getLastConnection()}} </td>
    </ng-container>

    <!-- Entrant/Leaving Column -->
    <ng-container matColumnDef="Entrant/Leaving">
      <th mat-header-cell *matHeaderCellDef translate> Entrant / Leaving </th>
      <td mat-cell *matCellDef="let student">
        <p *ngIf="student.getIsEntrant() === 'true'"> Incoming </p>
        <p *ngIf="student.getIsEntrant() === 'false'"> Outgoing </p>
      </td>
    </ng-container>

    <!-- OpenInNew Column -->
    <ng-container matColumnDef="OpenInNew">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let student">
        <button mat-icon-button (click)="goToStudentDetailsPage(student.getIdPerson())">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- SelectRow Column -->
    <ng-container matColumnDef="SelectRow">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let student">
        <mat-checkbox color="primary" [checked]="checkedStudents.indexOf(student) !== -1"
          (change)="checkStudent(student)"></mat-checkbox>
        <!-- <input type="checkbox" class="input-checkbox" [checked]="checkedStudents.indexOf(student) > -1" (click)="checkStudent(student)"> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>

<div class="bottomButtons">
  <mat-slide-toggle color="primary" (click)="displayArchivedStudents()">Display archived
    students</mat-slide-toggle>

  <div class="leftButtons">
    <button mat-stroked-button color="primary" *ngIf="!areDisplayArchived" (click)="archiveStudents()"
      [disabled]="checkedStudents.length === 0">Archive</button>
    <button mat-stroked-button color="primary" *ngIf="areDisplayArchived" (click)="archiveStudents()"
      [disabled]="checkedStudents.length === 0">Disarchive</button>
    <button mat-raised-button color="primary" (click)="addStudent()">Add student</button>
  </div>
</div>