table {
    width: 100%;
}

.mat-elevation-z8 {
    width: 80%;
    margin: 3% auto 3% auto;
}

.bottomButtons {
    width: 80%;
    margin: auto auto;
}

.leftButtons {
    float: right;
}

.leftButtons button {
    margin-left: .625rem;
}