h1 {
    text-align: center;
}

.languageAndLogs {
    float: right;
    margin-right: .625rem;
    width: 15%;
}

mat-select {
    width: 70% !important;
}

img {
    float: left;
}

mat-select {
    width: 15%;
}

.header {
    display: grid;
    padding: 1rem;
}

.logout-button {
    width: 1.563rem;
    color: #e73d2c;
    margin-left: 3.5rem;
}
