h1 {
    text-align: center;
}

.languageAndLogs {
    float: right;
    width: 21.865rem;
}

mat-select {
    width: 70% !important;
}

img {
    float: left;
}

mat-select {
    width: 15%;
}

.header {
    display: grid;
}
