<div class="return-to-student-details">
  <button mat-stroked-button color="primary" class="back-course-column" (click)="goToStudent()">
    <mat-icon class="back-icon">keyboard_backspace</mat-icon>
    Back to student details
  </button>
</div>

<div class="course-name">
  <h2>{{ selectedCourse.getName() }}</h2>
</div>

<div class="course-description">
  <div class="title">
    <h3>Description</h3>
  </div>
  <div class="content">
    <input matInput type="text" placeholder="Enter the description" [(ngModel)]="selectedCourse.description" name="courseDescription">
  </div>
</div>

<div class="course-ects">
  <div class="title">
    <h3>ECTS</h3>
  </div>
  <div class="content">
    <input matInput type="number" placeholder="Enter the ECTS" [(ngModel)]="selectedCourse.ects" name="courseEcts">
  </div>
</div>

<div class="course-teachers">
  <div class="title">
    <h3>Teachers</h3>
  </div>
  <div class="content">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <!-- Panel header -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Expand the panel to see teachers...</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Teachers list -->
      <mat-list role="list">
        <!-- Column header -->
        <mat-list-item class="header" role="listitem">
          <h2 class="teacher-column">Name</h2>
          <h2 class="teacher-column">Email address</h2>
        </mat-list-item>
        <!-- Teacher content -->
        <mat-list-item *ngFor="let teacher of selectedCourse.teachers" role="listitem">
          <h2 class="teacher-column">{{ teacher.fullName }}</h2>
          <h2 class="teacher-column">{{ teacher.emailAddress }}</h2>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
</div>

<div class="course-marks">
  <div class="title">
    <h3>Marks</h3>
  </div>
  <div class="content">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <!-- Panel header -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Expand the panel to see marks...</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Marks list -->
      <mat-list role="list">
        <!-- Column header -->
        <mat-list-item class="header" role="listitem">
          <h2 class="mark-column">Mark</h2>
          <h2 class="mark-column">Type</h2>
        </mat-list-item>
        <!-- Teacher content -->
        <mat-list-item *ngFor="let mark of selectedCourse.marks" role="listitem">
          <h2 class="mark-column">{{ mark.value }}</h2>
          <h2 class="mark-column">{{ mark.typeMark }}</h2>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
</div>

<div class="course-poll">
  <div class="title">
    <h3>Polls</h3>
  </div>
  <div class="content">
    <ng-container *ngFor="let poll of selectedCourse.polls">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <!-- Panel header -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Expand the panel to see polls...</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Polls list -->
        <mat-list role="list">
          <!-- Column header -->
          <mat-list-item class="header" role="listitem" *ngFor="let poll of selectedCourse.polls">
            <h2 class="poll-column">Title</h2>
            <h2 class="poll-column">Status</h2>
          </mat-list-item>
          <!-- Poll content -->
          <mat-list-item role="listitem">
            <h2 class="poll-column">{{ poll.question }}</h2>
            <h2 class="poll-column">{{ poll.status }}</h2>
          </mat-list-item>
        </mat-list>

        <mat-list *ngIf="poll.answer" role="list">
          <!-- Column header -->
          <mat-list-item class="header" role="listitem">
            <h2 class="answer-column">Answer</h2>
            <h2 class="answer-column">Date</h2>
          </mat-list-item>
          <!-- Answer content -->
          <mat-list-item role="listitem">
            <h2 class="answer-column">{{ poll.answer }}</h2>
            <h2 class="answer-column">{{ poll.dateAnswer }}</h2>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>

<!-- Add Topic button -->
<button mat-stroked-button color="primary" class="add-element-button" (click)="addNewPoll()">
  Add new poll
</button>