<div class="pageBody">
  <h1 translate class ="titre" >Student profile</h1>
  <h3 *ngIf="selectedStudent.getIsLearningAgreementValid() === 'true'" class="greenColor">
    Learning agreement : valid - {{ selectedStudent.getDateLearningAgreementValid() | date: 'medium' }}
  </h3>
  <h3 *ngIf="selectedStudent.getIsLearningAgreementValid() === 'false'" class="redColor">
    Learning agreement : unvalid
  </h3>
  <mat-tab-group>
      <mat-tab label="En cours"> 
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title  translate>
              <div translate>Marks</div>
            </mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="dataSourceMark" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef><div translate >Mark</div></th>
                  <td mat-cell *matCellDef="let element" (click)="openDetailCourse(element)"> {{element.getName()}} </td>
                </ng-container>

                <ng-container matColumnDef="ects">
                  <th mat-header-cell *matHeaderCellDef ><div translate >ECTS</div></th>
                  <td mat-cell *matCellDef="let element"> {{element.getEcts()}} </td>
                </ng-container> 

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef><div translate >Description</div></th>
                  <td mat-cell *matCellDef="let element" > {{element.getDescription()}} </td>
                </ng-container> 

                <ng-container matColumnDef="codeUE">
                  <th mat-header-cell *matHeaderCellDef><div translate >Code UE</div></th>
                  <td mat-cell *matCellDef="let element"> {{element.getCodeUE()}} </td>
                </ng-container>
                
                <ng-container matColumnDef="semester">
                  <th mat-header-cell *matHeaderCellDef><div translate >Semester</div></th>
                  <td mat-cell *matCellDef="let element"> {{element.getSemester()}} </td>
                </ng-container>    
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsMark"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMark;"></tr>
            </table>
            <button mat-icon-button (click)="addMark()">
              <mat-icon>add</mat-icon>
            </button>
        </mat-expansion-panel>
      </mat-tab>
      <mat-tab label="Historique"> 
          <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title  translate>
                  <div translate>Marks</div>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="dataSourceMark" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef><div translate >Mark</div></th>
                      <td mat-cell *matCellDef="let element" (click)="openDetailCourse(element)"> {{element.getName()}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="ects">
                      <th mat-header-cell *matHeaderCellDef ><div translate >ECTS</div></th>
                      <td mat-cell *matCellDef="let element"> {{element.getEcts()}} </td>
                    </ng-container> 
    
                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef><div translate >Description</div></th>
                      <td mat-cell *matCellDef="let element" > {{element.getDescription()}} </td>
                    </ng-container> 
    
                    <ng-container matColumnDef="codeUE">
                      <th mat-header-cell *matHeaderCellDef><div translate >Code UE</div></th>
                      <td mat-cell *matCellDef="let element"> {{element.getCodeUE()}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="semester">
                      <th mat-header-cell *matHeaderCellDef><div translate >Semester</div></th>
                      <td mat-cell *matCellDef="let element"> {{element.getSemester()}} </td>
                    </ng-container>    
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsMark"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsMark;"></tr>
                </table>
                <button mat-icon-button (click)="addMark()">
                  <mat-icon>add</mat-icon>
                </button>
            </mat-expansion-panel>
      </mat-tab>
  </mat-tab-group>
  

  <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div translate>Topics life</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="dataSourcePL" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef><div translate>Titre</div></th>
          <td mat-cell *matCellDef="let element"> {{element.getName()}} </td>
        </ng-container>

        <ng-container matColumnDef="dateDailyTopic">
          <th mat-header-cell *matHeaderCellDef><div translate>Date</div></th>
          <td mat-cell *matCellDef="let element"> {{element.getDateDailyTopic()}} </td>
        </ng-container> 

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef><div translate>Description</div></th>
          <td mat-cell *matCellDef="let element" > {{element.getDescription()}} </td>
        </ng-container> 
 
        
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPL"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPL;"></tr>
    </table>
    <button mat-icon-button (click)="addPrivateLife()">
      <mat-icon>add</mat-icon>
    </button>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div >Topics Courses</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="dataSourcePL" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef><div translate>Titre</div></th>
          <td mat-cell *matCellDef="let element"> {{element.getName()}} </td>
        </ng-container>

        <ng-container matColumnDef="dateDailyTopic">
          <th mat-header-cell *matHeaderCellDef><div translate>Date</div></th>
          <td mat-cell *matCellDef="let element"> {{element.getDateDailyTopic()}} </td>
        </ng-container> 

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef><div translate>Description</div></th>
          <td mat-cell *matCellDef="let element" > {{element.getDescription()}} </td>
        </ng-container> 
 
        
        <tr mat-header-row *matHeaderRowDef="displayedTopicsCourses"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedTopicsCourses;"></tr>
    </table>
    <button mat-icon-button (click)="addTopicsCourses()">
      <mat-icon>add</mat-icon>
    </button>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div translate>Contact</div> 
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="dataSourceContact" class="mat-elevation-z8">
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef><div translate>Name</div></th>
            <td mat-cell *matCellDef="let element"> {{element.getLastName()}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef><div translate>Description</div></th>
            <td mat-cell *matCellDef="let element"> {{element.getDescription()}} </td>
          </ng-container> 

          <ng-container matColumnDef="affiliation">
            <th mat-header-cell *matHeaderCellDef><div translate>Affiliation</div></th>
            <td mat-cell *matCellDef="let element" > {{element.getAffiliation()}} </td>
          </ng-container> 

          <ng-container matColumnDef="emailAddress">
            <th mat-header-cell *matHeaderCellDef>E-mail</th>
            <td mat-cell *matCellDef="let element"> {{element.getEmailAddress()}} </td>
          </ng-container>  
          
          <tr mat-header-row *matHeaderRowDef="displayedColumnsContact"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsContact;"></tr>
      </table>
      <button mat-icon-button (click)="addContact()">
        <mat-icon>add</mat-icon>
      </button>
      </mat-expansion-panel>
  

    
</div>

