table {
    width: 100%;
  }
.mat-elevation-z8{
  width: 80%;
  margin: 3% auto 3% auto;
}

.titre{
  text-align:center;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

.pageBody{
  text-overflow: ellipsis;
  overflow: hidden;
}
