<div class="pageBody">
  <h1>Student profile</h1>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Matière
        </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table class="mat-elevation-z8">
        </table>

    </mat-expansion-panel>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vie quotidienne
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>nom et prenom</div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact 
          </mat-panel-title>
        </mat-expansion-panel-header>
            
      </mat-expansion-panel>
  

    
</div>

