.dialog-content {
    text-align: center;
}

.form-fields {
    display: flex;
}

.column {
    width: 100%;
}

mat-form-field {
    width: 70%;
}

.send-button {
    padding: .4375rem 1.0625rem;
    background-color: #3f51b5;
    margin-top: 1.25rem;
    text-decoration: none;
    color: white;
}
