<div class="dialog-content">
  <h2 class="dialog-title">Add a new course</h2>

  <form class="add-course-form">
    <div class="form-fields">
      <div class="column">
        <!-- Field Name -->
        <div class="name-field">
          <h3 [class.invalid-field]="!isFormValid && !isNameValid">Name</h3>
          <mat-form-field>
            <input matInput type="text" placeholder="Enter the name" [(ngModel)]="name" name="courseName">
          </mat-form-field>
        </div>
        <!-- Field ECTS -->
        <div class="ects-field">
          <h3 [class.invalid-field]="!isFormValid && !isEctsValid">ECTS</h3>
          <mat-form-field>
            <input matInput type="number" onkeydown="return event.keyCode !== 69" placeholder="Enter the ects"
              [(ngModel)]="ects" name="courseECTS">
          </mat-form-field>
        </div>
        <!-- Field TeacherEmail -->
        <div class="teacher-email-field">
          <h3 [class.invalid-field]="!isFormValid && !isTeacherEmailValid">Teacher email address</h3>
          <mat-form-field>
            <input matInput type="email" placeholder="Enter the teacher'e email address" [(ngModel)]="teacherEmail"
              name="courseTeacherEmail">
          </mat-form-field>
        </div>
      </div>
      <div class="column">
        <!-- Field Description -->
        <div class="description-field">
          <h3>Description</h3>
          <mat-form-field>
            <textarea matInput placeholder="Enter the description" [(ngModel)]="description"
              name="courseDescription"></textarea>
          </mat-form-field>
        </div>
        <!-- Field TeacherFullName -->
        <div class="teacher-full-name-field">
          <h3 [class.invalid-field]="!isFormValid && !isTeacherFullNameValid">Teacher full name</h3>
          <mat-form-field>
            <input matInput type="text" placeholder="Enter the teacher's full name" [(ngModel)]="teacherFullName"
              name="courseTeacherFullName">
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- Button Create -->
    <button mat-raised-button color="primary" class="create-button" (click)="createCourse()">Create</button>
  </form>
</div>