<div class="dialog-content">
  <h2 class="dialog-title">Add a new course</h2>

  <form class="add-course-form">
    <div class="form-fields">
      <!-- Field Name -->
      <div class="name-field">
        <h3>Name</h3>
        <mat-form-field>
          <input matInput type="text" placeholder="Enter the name">
        </mat-form-field>
      </div>
      <!-- Field ECTS -->
      <div class="ects-field">
        <h3>ECTS</h3>
        <mat-form-field>
          <input matInput type="number" placeholder="Enter the ects">
        </mat-form-field>
      </div>
      <!-- Field Teachers -->
      <div class="ects-field">
        <h3>Teachers</h3>
        <mat-form-field>
          <mat-select placeholder="Select the teachers" multiple>
            <mat-option *ngFor="let teacher of teachers">{{teacher}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Button Create -->
    <button mat-raised-button color="primary" class="create-button" (click)="createCourse()">Create</button>
  </form>
</div>